<div class="row columns">
  <div class="small-12 large-6 button-container">
    <button (click)="login()">Login With Google</button>
  </div>
  <div class="small-12 large-6 button-container">
    <button (click)="logout()" *ngIf="name">Logout</button>
  </div>
</div>

<div class="row columns">
  <input type="text" id="message" *ngIf="name" placeholder="Chat here..." (keyup.enter)="chatSend($event.target.value)" [(ngModel)]="msgValue" />
  <span class="or" *ngIf="name">Or...</span>
  <input type="text" id="imageLink" *ngIf="name" placeholder="Share an Image or Gif url..." (keyup.enter)="shareLinkSend($event.target.value)" [(ngModel)]="msgLink">
  <div class="chat">
    <div class="chat-container" *ngFor="let item of items | async">
      <span>
        <img class="profile-img" src="{{item.picture}}" alt="">
        <a href="{{item.link}}">{{item.name}}</a>
      </span>
      <div *ngIf="item.message">
        <p>{{item.message}}</p>
      </div>
      <div *ngIf="item.sharedLink" class="shared-img-container">
        <img class="shared-img" src="{{item.sharedLink}}">
      </div>
    </div>
  </div>
</div>
